<app-cover-header [dataSource]="coverHeaderDataSource"></app-cover-header>
<section class="section">
  <div class="container">
    <p text-center>SAG Deutschland GmbH (Uhlandstraße 9, 64297 Darmstadt, Deutschland) in its role as data controller
      appreciates your visit on our websites and is grateful for your interest in our company, our products and our
      services. The protection of your privacy and personal data is an important matter for us. To ensure a high level
      of transparency and security, our privacy statement as set forth below will inform you about the nature, scope
      and purpose of any collection, use and processing of personal data recorded by us.</p>
    <p>Be aware that our <a title="Privacy Policy - Cloud" href="/corporate/cloud_privacy_policy">Cloud offering</a>,
      the <a target="_blank" title="ARIS Community" href="http://www.ariscommunity.com/terms-of-use#policy">ARIS
        Community</a> and the <a title="Privacy Policy - HR Recruiting" href="/corporate/privacy_policy_e-recruiting_201404">E-Recruiting</a>
      have separate privacy statements. &nbsp;&nbsp;</p>
    <div class="row">
      <div class="col-md-10">
        <h4>1. External Links</h4>
        <p>Our websites also reference and include links to third-party websites. As a rule, these are identified by
          stating the respective third-party Internet address or the company/product logo. Software AG has no influence
          whatsoever on the contents and design of websites of other providers. By referencing/linking these external
          websites we do not adopt their contents as our own.</p>
        <h4>2. Cookies</h4>
        <p>Information about our usage of cookies, especially for marketing purposes, can be found in our Cookie
          Policy.</p>
        <h4>3. Categories of Personal Data that we process</h4>
        <p>Personal data refers to any information relating to an identified or identifiable natural person. Software
          AG processes the following personal data, if you actively provide this information to us:</p>

        <ul>
          <li>first name, last name, date of birth, email address, country, job title, phone number, fax number,
            company name, used products of Software AG and additional information that you provide when contacting us
            using our websites, especially information provided in free text fields of contact forms ("contact data");</li>
          <li>additional data that you provide to Software AG while applying for a job, e.g. your CV, certificates,
            attestations, etc. ("job application data");</li>
          <li>additional data that you provide to Software AG in comments on the Software AG websites, especially in
            forms of discussion boards and using the comment features of blogs ("comment data");</li>
          <li>email address, phone number, name, company name and country provided when subscribing to a newsletter or
            other marketing information of Software AG ("direct marketing data") (see section 7).</li>
        </ul>
        <ul>
          <li>
            Besides that we also process the following personal data, which is passively collected:
          </li>
        </ul>

        <br>
        <h4>4. Purposes and Lawfulness of the Data Processing</h4>
        <p>Software AG collects, processes, and uses your personal data to the extent required to fulfill the
          respective purposes.</p>
        <p>The purposes for processing your contact data, comment data and job application data are: Providing services
          that you make use of using the Software AG websites. These are amongst others: downloads, discussion boards,
          job applications, individual requests (e.g. using a contact form), blogs, and the registration for courses or
          other offerings of Software AG. The lawfulness for the data processing is the performance of a contract or
          steps prior to entering into a contract. Using this personal data is required to provide the contractual
          obligations. Without this personal data you would not be able to receive the services offered by Software AG.</p>
        <ul>
          <li>When you register for ZMOD we ask for information such as your name, email address, billing address,
            credit card information. Members who sign up for the free account are not required to enter a credit card.</li>
          <li>ZMOD uses collected information for the following general purposes: products and services provision,
            billing, identification and authentication, services improvement, contact, and research.</li>
        </ul>

        <br>
        <h4>5. Data recipients</h4>
        <p>Your personal data will be processed by persons of Software AG in the respective departments who need to
          know the personal data.</p>
        <ul>
          <li>contact data: any departments that might be involved to process your request</li>
          <li>comment data: marketing or the respective product departments that are responsible for operating the
            blogs or discussion boards</li>
          <li>job application data: HR and the departments that are responsible for the job position that you apply to</li>
          <li>direct marketing data: marketing and sales departments responsible for your region</li>
          <li>browser data and usage data: marketing and the IT departments that are responsible for operating the
            respective websites</li>
        </ul>

        <br>
        <h4>6. Data Transfers to Third Countries</h4>
        <p>The recipients of your personal data might be located outside the European Union or the European Economic
          Area and therefore might not have a data protection equivalent to EU data protection law.</p>

        <p>Unless there is an adequacy decision by the EU Commission for these states or the transfer is based on an
          exemption provided for by the GDPR (e.g. express consent, assertion, exercise or defense of legal rights), we
          take all necessary measures to ensure that transfers to such organizations are adequately protected, e.g. by
          signing the standard contractual clauses stipulated by the EU Commission with the data recipients. You may
          request a copy of these reasonable warranties by contacting our Data Protection Department at: dataprotection
          (at) softwareag.com</p>

        <p>A transfer of data to official authorities in countries outside the European Union or the European Economic
          Area (so-called third countries) takes place, if required by law, you have given us your express consent or
          this is legitimated by the legitimate interest of us or the third party for data protection purposes, e.g.
          internal administrative purposes and no higher legitimate interests on your part.</p>

        <br>
        <h4>7. Information sent by Email</h4>
        <p>ZMOD may disclose personally identifiable information under special circumstances, such as to comply with
          subpoenas or when your actions violate the Terms of Service.</p>
        <p>Providing your email address or telephone number for direct marketing purposes is voluntary. If you do not
          provide these to us, you will not receive any advertising from us.</p>

        <br>
        <h4>8. Participation in Discussion Boards and Blogs</h4>
        <p>On our websites, we offer you the opportunity to participate in discussion boards and blogs. In order to use
          them, it may be necessary to enter certain personal information (email address, first name and last name,
          company name and country) to enable us to identify and, where appropriate, comply with the obligation to
          retroactively identify authors of illegal content. The details of this personal data are voluntary for you.
          Please note that you may not be able to use discussion boards and blogs if you do not want to provide your
          personal information. This is associated with no further disadvantages.</p>
        <p>When participating in the discussion boards of the TECHcommunity your personal data is not disclosed to
          other participants unless you have consented thereto in your user profile. In this context, our Discussion
          Board Guidelines including the Terms of Use apply when registering for the TECHcommunity.</p>

        <br>
        <h4>9. Data Protection for Minors</h4>
        <p>The offers and services on this website are not directed at children. We therefore assume that we will not
          become aware of any personal data pertaining to children.</p>
        <br>
        <h4>10. Technical and Organizational Data Protection</h4>
        <p>Software AG implements the technical and organizational measures that are commercially reasonable in
          relation to the respective purpose of data protection, in order to protect the information provided by you
          against abuse and loss. Such data is stored in a secure operating environment that is not accessible to the
          public. In addition, each of our employees is instructed on data protection and obliged to enter into a
          confidentiality agreement.</p>
        <br>
      </div>
    </div>
  </div>
</section>