<section class="section" style="background-image: linear-gradient(135deg, #c8e7ff 0%, #fff 50%, #bbe1ff 100%)">
  <div class="container">
    <header class="text-center pb-4">
      <h2><strong>{{dataSource.heading}}</strong></h2>
      <p class="lead">{{dataSource.description}}</p>
    </header>
    <p class="text-center">
      <a class="btn btn-lg btn-success btn-round w-250 mb-2" href="#">{{dataSource.btn_text}}</a><br>
      <small class="text-lighter">{{dataSource.small_text}}</small>
    </p>
  </div>
</section>